<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="badgeMapper">

    <select id="selectUserBadges" resultType="Badge">
        SELECT 
            B.BADGE_ID as badgeId,
            B.BADGE_NAME as badgeName,
            B.BADGE_ICON_URL as badgeIconUrl
        FROM USERBADGE UB
        JOIN BADGE B ON UB.BADGE_ID = B.BADGE_ID
        WHERE UB.USER_ID = #{userId}
    </select>

    <insert id="insertDefaultBadge">
        INSERT INTO USERBADGE (USER_ID, BADGE_ID, EARNED_AT)
        VALUES (#{userId}, #{badgeId}, SYSDATE)
    </insert>

</mapper>