<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="transMapper">

	<insert id="myTransSave" parameterType="Mytrans">
	INSERT INTO MYTRANS(
        TRAN_ID,
		TITLE,
		TRANS_DATE,
		ORIGINAL_AMOUNT,
		IS_SHARED,
		CATEGORY,
		TYPE,
		MEMO,
		USER_ID,
		GROUP_TRAN_ID)
    	VALUES(
        SEQ_MYTRANS.NEXTVAL,
        #{title},
        #{transDate},
        #{originalAmount},
        #{isShared},
        #{category},
        #{type},
        #{memo},
        #{userId},
        #{groupTransId})
	</insert>
	
	<insert id="groupTransSave" parameterType="grouptrans">
	INSERT INTO GROUPTRANS(
        TRAN_ID,
		TITLE,
		TRANS_DATE,
		ORIGINAL_AMOUNT,
		CATEGORY,
		TYPE,
		MEMO,
		GROUPB_ID,
		NICKNAME)
    	VALUES(
        SEQ_FNO.NEXTVAL,
        #{title},
        #{transDate},
        #{originalAmount},
        #{category},
        #{type},
        #{memo},
        #{groupBId},
        #{nickName})
	</insert>


</mapper>