<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="transMapper">

	<insert id="myTransSave" parameterType="Mytrans">
    INSERT INTO MYTRANS (
        TRAN_ID,
        TITLE,
        TRANS_DATE,
        ORIGINAL_AMOUNT,
        IS_SHARED,
        CATEGORY,
        TYPE,
        MEMO,
        USER_ID,
        GROUP_TRAN_ID  ) VALUES (
        SEQ_MYTRANS.NEXTVAL,
        #{title},
        #{transDate},
        #{originalAmount},
        #{isShared},
        #{category},
        #{type},
        #{memo},
        #{userId},
        #{groupTransId} )
</insert>
	
	<insert id="groupTransSave" parameterType="grouptrans">
    INSERT INTO GROUPTRANS (
        				TRAN_ID, 
        				TITLE, 
        				TRANS_DATE, 
        				ORIGINAL_AMOUNT, 
        				CATEGORY, 
        				TYPE, 
        				MEMO, 
        				GROUPB_ID, 
        				USER_ID, 
        				NICKNAME
   			 )
			    SELECT 
			        SEQ_FNO.NEXTVAL,
			        #{title},
			        #{transDate},
			        #{originalAmount},
			        #{category},
			        #{type},
			        #{memo},
			        #{groupBId},
			        #{userId}, 
			        (SELECT NICKNAME FROM USERS WHERE USER_ID = #{userId}) 
			    FROM DUAL
	</insert>
	
	<select id="selectMyTrans" resultType="mytrans">
	    SELECT 
		    TRAN_ID        AS "transId", 
		    TITLE          AS "title",
		    TRANS_DATE     AS "transDate",
		    ORIGINAL_AMOUNT AS "originalAmount",
		    CATEGORY       AS "category",
		    TYPE           AS "type",
		    MEMO           AS "memo",
		    USER_ID        AS "userId",
		    IS_SHARED      AS "isShared",
		    GROUP_TRAN_ID  AS "groupTransId"
		FROM MYTRANS 
		WHERE USER_ID = #{userId}
		ORDER BY TRAN_ID DESC
	</select>
	
	<update id="updateTrans" parameterType="mytrans">
		UPDATE MYTRANS
		SET 
		TITLE = #{title},
		TRANS_DATE = #{transDate},
		ORIGINAL_AMOUNT = #{originalAmount},
		CATEGORY = #{category} ,
		TYPE = #{type},
		MEMO = #{memo}
		WHERE TRAN_ID = #{transId}
		AND USER_ID = #{userId}
	</update>
	
	<delete id="deleteTrans">
		DELETE FROM MYTRANS
		WHERE
		TRAN_ID = #{transId}
	</delete>
	
	<select id="selectGroupTrans" resultType="Grouptrans">
    SELECT 
        G.TRAN_ID        AS "transId", 
        G.TITLE          AS "title",
        G.TRANS_DATE     AS "transDate",
        G.ORIGINAL_AMOUNT AS "originalAmount",
        G.CATEGORY       AS "category",
        G.TYPE           AS "type",
        G.MEMO           AS "memo",
        G.GROUPB_ID      AS "groupBId",
        U.NICKNAME       AS "nickname" 
    FROM GROUPTRANS G
    JOIN USERS U ON (G.USER_ID = U.USER_ID)
    WHERE G.GROUPB_ID = #{groupBId}
    ORDER BY G.TRAN_ID DESC
</select>
	
	<update id="updateGroupTrans" parameterType="Grouptrans">
		UPDATE GROUPTRANS
		SET 
		TITLE = #{title},
		TRANS_DATE = #{transDate},
		ORIGINAL_AMOUNT = #{originalAmount},
		CATEGORY = #{category} ,
		TYPE = #{type},
		MEMO = #{memo}
		WHERE TRAN_ID = #{transId}
	</update>
	
	<delete id="deleteGroupTrans">
		DELETE FROM GROUPTRANS
		WHERE
		TRAN_ID = #{transId}
	</delete>
	
	<select id="groupInfo" parameterType="_int" resultType="map">
	    SELECT 
		    TITLE AS "title",
	        B_AMOUNT                          AS "budget",
	        TO_CHAR(START_DATE, 'YYYY-MM-DD') AS "startDate", 
	        TO_CHAR(END_DATE, 'YYYY-MM-DD')   AS "endDate"
	    FROM GROUPBUDGET  
	    WHERE GROUPB_ID = #{groupId}
</select>

	


</mapper>